.app {
  background-color: #F6F1E5;
  color: #434142;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.slick-prev:before,
.slick-next:before {
  color: #62684e !important;
}

hr {
  border: none;
  height: 2px;
  background: linear-gradient(to right, #62684e, #D9C9A2);
  width: 70%;
  margin: auto;
  display: block;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
